body { font-family: "quicksand-regular";}

h1 { white-space: nowrap; }

html {
  position:fixed;
  width:100%;
  height:100%;
} 


.flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flexCenter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.fullHeight {
    height: 100vh;
}
.itemCenter {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.fullHeight {
    height: 100vh;
    
    margin: -0.6%;
}
.centerImage {
    background: url(material-wallpaper-2560x720.jpg), url(http://wallpaperswide.com/download/material-wallpaper-2560x720.jpg);
    background-size: cover;
}



/*cotent atoa */

#content {
	/* height: 570px; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	

/*
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center; */

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;


}



/**//**//**//**//**//**/
/*Emily's Games Presents*/
/**//**//**//**//**//**/
h1.texto {
	/* margin-top: 15%; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	
    color: 	#999999
}

/**//**//**//**//**//**//**//**//**/
/*CHOICES TITLLE */
/**//**//**//**//**//**//**//**//**/
h1.textin {


	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

		white-space: nowrap;

	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;


    color: #531b04

}




/**//**//**//**//**//**//**/
/*START BUTTON*/
/**//**//**//**//**//**//**/
button.Button {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-color: rgba(255,255,255,0.5);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: Quicksand-Regular;
	margin-bottom: 3%;
	margin-top: 2%;
	color: rgba(255,255,255, 1);
	background-color: transparent;
	border-color: transparent;
}

#content2 {
	/* height: 570px; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: row;
	justify-content: center;
	justify-content: space-between;
}


button.Button2 {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-color: rgba(255,255,255,0.5);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*
	justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; */
	font-family: Quicksand-Regular;
/*	margin-bottom: 3%; */
/*	margin-top: 2%; */ 
	color: rgba(255,255,255, 1);
	background-color: transparent;
	border-color: transparent;
}

button.Button:hover{
   color: rgba(240,240,240, 0.5)
}
button.Button2:hover{
   color: rgba(240,240,240, 0.5)
}




@media screen and (min-width: 1201px) {
  h1.texto {
    font-size: 60px;
  }

     h1.textin {
    font-size: 155px;
    margin-top: -70px;
  }

  button.Button {
    font-size: 55px;
  
  }

   button.Button2 {
    font-size: 40px;
  
  }

  #audio {
	margin-top: 20%;
}
div.tamanhotexto {
	
   	 width: 110vh;
   	 height: 60vh;
}

}


@media screen and (max-width:1200px) and (min-width:801px) {
	h1.texto {
    	font-size: 47px;
    }


  	h1.textin {
    	font-size: 95px;
    	margin-top: -50px;
    	margin-bottom: 35%;
    }

		button.Button {
    	font-size: 47px;
    }

	button.Button2 {
    	font-size: 35px;
    }
    #audio {
	margin-top: 38%;
	}
	div.tamanhotexto {
   	 width: 70vh;
   	 height: 70vh;
	}



}

@media screen and (max-width: 800px) {
  h1.texto {
    font-size: 35px;
    }

  h1.textin {
    font-size: 78px;
    margin-top: -40px;
    margin-bottom: 50%;

    }

  button.Button {
    font-size: 40px;
    }
     button.Button2 {
    font-size: 30px;
    }


   	#audio {
	margin-top: 53%;
}
div.tamanhotexto {
   	 width: 59vh;
   	 height: 75vh;
}

}


.flexContainer2 {
    display: flex;
    flex: 1;

}

.flexColumn2 {
    flex-direction: column;
}

.main2{
	font-family: quicksand-regular;
	background-color: white;
    order: 2;
    padding: 20px;
    border: 2px solid #777777;

