body {
	

	  /* background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg); */

	background-image: url(https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?cs=srgb&dl=blur-blurred-background-colors-754082.jpg&fm=jpg); 
	
	 background-position: top center;
	 background-repeat: no-repeat;
	 background-size: cover; 
	 background-color:  black;
	
}


div.texto {
	display: flex;
	justify-content: center;
	font-family: gabriola;

    color: white

}



/* fonte flexivel xD */

@media screen and (min-width: 1201px) {
  div.texto {
    font-size: 80px;
  }
}

@media screen and (max-width: 800px) {
  div.texto {
    font-size: 30px;
    }
}

@media screen and (max-width:1200px) and (min-width:801px) {
	div.texto {
    	font-size: 55px;
    }
}


div.textin {
	display: flex;
	justify-content: center;
	font-family: Harlow Solid Italic;

    color: white

}

@media screen and (min-width: 1201px) {
  div.textin {
    font-size: 65px;
    margin-top: -40px;
  }
}


@media screen and (max-width:1200px) and (min-width:801px) {
	div.textin {
    	font-size: 45px;
    	margin-top: -20px;
    }
}
@media screen and (max-width: 800px) {
  div.textin {
    font-size: 25px;
    margin-top: -5px;
    }
}





